* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  color: #406196;
  font-family: "Inter", sans-serif;
  font-size: 500%;
  line-height: 90%;
}

ul {
  font-family: "Inter", sans-serif;
  list-style-type: none;
}

td {
  font-family: "Inter", sans-serif;
}

a {
  font-weight: regular;
}

.table-col-centered {
  text-align: center;
  padding-right: 10px;
}

.description {
  color: #1f1f1f;
  font-size: 150%;
  padding-top: 1em;
}

.links {
  display: inline-flex;
  font-size: 200%;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.div-table {
  display: flex;
  justify-content: center;
  padding-top: 0em;
  padding-bottom: 1em;
}

.nav-content {
  padding-left: 4vw;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.wrapper {
  background-color: #fff;
  display: flex;
  float: center;
  margin: auto;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bg_slider {
  text-decoration: none;
  padding: 0.2em;

  --initialTextColor: #406196;
  --slideTextColor: #fff;

  /* --initialBgColor: #ebebeb; */
  --initialBgColor: #fff;
  --slideBgColor: #406196;

  color: var(--initialTextColor);

  background-image: linear-gradient(
    90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );
  background-size: 400%;
  transition: background-position 0.1s cubic-bezier(0.47, 0.1, 1, 0.63),
    color 0.1s linear;
  transition-delay: 0s, 0.1s;
}

.bg_slider:hover {
  text-decoration: none;
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -50% 100%;
}
 
@media only screen and (min-device-width: 320px) {
  h1 {
    font-size: 13vw;
  }

  .description {
    font-size: 5vw;
  }

  .links {
    display: inline-flex;
    padding-right: 3vw;
    padding-top: 5vw;
    font-size: 6vw;
  }

  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-device-width: 961px) {
  h1 {
    color: #406196;
    font-family: "Inter", sans-serif;
    font-size: 500%;
    line-height: 90%;
  }

  .description {
    color: #1f1f1f;
    font-size: 150%;
  }

  .links {
    display: inline-flex;
    font-size: 200%;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }

  .div-table {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .nav-content {
    padding-left: 4vw;
    animation-name: fadeIn;
    animation-duration: 3s;
  }
} 
